<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<th:block th:replace="/layout/fragments/head :: headFragment(title='코스확인')"></th:block>
<th:block layout:fragment="content" class="container my-3">
    <form th:action="@{/user/course}" method="GET">
      
      <!-- 사이드바 -->
      <th:block th:replace="/layout/fragments/sidebar :: sidebarFragment(current='코스확인')"></th:block>

<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</th:block>
</html>