<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">
<!-- 최신 SpringBoot 에서는 layout:decorate="~{layout/layout}" 으로 사용 -->

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <h1>MainView</h1>
        <h5>Seoul Bike trevel</h5>
        <h5>주제설명</h5>
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/rental_office}">로그인</a>
        <a class="nav-link" th:href="@{/user/signup}">회원가입</a>
    </div>
</th:block>
</html>