<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<th:block th:replace="/layout/fragments/head :: headFragment(title='따릉이')"></th:block>
<th:block th:replace="/layout/fragments/sidebar :: sidebarFragment(current='따릉이')"></th:block>
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid text-center">
        <img src="https://user-images.githubusercontent.com/115764991/209622499-2ad50e16-f1b7-4413-9928-2abe4b8f43bf.png" class="img-fluid">

        <div id="container" class="mx-auto" >
           
            <div id="detail_con" >
                <div class="info" style="display:inline-block; font-size: large;">
                    <p class="txt1"><span>Seoul Bicycle is an unmanned rental system that <em style="color:blue;">Anyone, Anytime, Anywhere</em> can use easily and conveniently.</span></p>
                    <p class="txt2">It is designed to solve traffic congestion, air pollution, and high oil prices in Seoul and to improve the quality of life of healthy society and citizens.</p>

                    <div class="container" style="font-size: 14px;">
                        <div class="row">
                            <div class="col-sm">
                                <dt>Healthy<br />Bicycle City</dt>
                                <dd>Let's talk about the daily life of using bicycles
                                    realization of the promotion of public health through</dd>
                            </div>
                            <div class="col-sm">
                                <dt>Clean<br />The City Of Bicycles</dt>
                                <dd>Bicycle transportation
                                    by improving the share ratio
                                    Reduction of CO2 generation</dd>
                            </div>
                            <div class="col-sm">
                                <dt>녹색 성장<br />선도 도시</dt>
                                <dd>국가 비전인<br />“저탄소 녹색성장” 실현</dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            여행 코스
        </div>

    </div>
</th:block>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</html>