<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/layout/fragments/head :: headFragment(title='따릉이')"></th:block>
<th:block th:replace="/layout/fragments/sidebar :: sidebarFragment(current='따릉이')"></th:block>
<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <div class="container-fluid text-center">
        <h3 class="slogan" style="margin: 50px;"><img src="https://www.sisul.or.kr/open_content/traffic/images/bike_logo.gif" alt="서울자전거(Seoul Bike) 따릉이" /></h3>
        <img src="https://img.khan.co.kr/news/2022/03/29/l_2022032901003662700327361.webp" class="img-fluid">

        <div id="container" class="mx-auto" >
           
            <div id="detail_con" >
                <div class="info" style=" padding:30px 40px; background:#fff; display:inline-block; ">
                    <p class="txt1"><span>서울자전거는 <em style="color:blue;">누구나, 언제나, 어디서나</em> 쉽고 편리하게 이용할 수 있는 무인대여 시스템입니다.</span></p>
                    <p class="txt2">서울시의 교통체증, 대기오염, 고유가 문제를 해결하고 건강한 사회 및 시민들의 삶의 질을 높이고자 마련되었습니다. </p>

                    <div class="container" style="font-size: 14px;">
                        <div class="row">
                            <div class="col-sm">
                                <dt>건강한<br />자전거 도시</dt>
                                <dd>자전거 이용의 생활화를<br />통한 시민건강 증진 실현</dd>
                            </div>
                            <div class="col-sm">
                                <dt>깨끗한<br />자전거의 도시</dt>
                                <dd>자전거 교통수단<br />분담률을 향상시켜<br />CO2 발생 감소실현</dd>
                            </div>
                            <div class="col-sm">
                                <dt>녹색 성장<br />선도 도시</dt>
                                <dd>국가 비전인<br />“저탄소 녹색성장” 실현</dd>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>

</html>