<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<style>
  #center{
    width:100%
  }
  #nav{
    background-color:rgb(247, 243, 243);
    width:20%;
    height: 100%;
    float:left;
  }
  #section{
    width: 80%;
    text-align: center;
    float:left;
    padding: 10px;
  }
</style>
<th:block th:replace="layout/fragments/head :: headFragment(title='Create a Daily Course')"></th:block>
<!-- 사이드바 -->
<th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Create a Daily Course')"></th:block>
<th:block layout:fragment="content" class="container my-3">
    <form th:action="@{/rental/mycourse}" method="GET">
      <div id="center">
        <div id="nav">
          <div class="addBtn" >
            <button type="button" class="btn btn-success" id="savebtn" style="width: 100%;" onclick="savedata();">+ Add My Course</button>
          </div>
          <br>
          <button type="List" class="btn btn-light" style="width: 100%;"><strong> [ My List ] </strong></button>
          <!-- <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Make My Course
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body" >
                  <ul class="list-group" id="add_place">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div> -->
        </div>
        <div id="section">
          <!-- //지도 API 사용 -->
          <div id="map" style="width:100%; height:1100px;"></div>
          <div id="info" style="text-align:right;">
            <img src="/files/basic_pin.png" > <strong>: Rental_office</strong> 
            <img src='https://navermaps.github.io/maps.js.ncp/docs/img/example/ico_pin.jpg' style="width:20px; height:25px;"> <strong>: THE SIGHTS</strong> 
            <br>
            <img src="https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png" style="width:30px;height:35px;"> <strong>: My Location</strong>
          </div>
        </div>
      </div>
        
    </form>
    
    <th:block th:replace="layout/fragments/script :: scriptFragment"></th:block>
</th:block>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=75ojy30gbk "></script>

<script  th:inline="javascript">
	/*<![CDATA[*/
  $(function() {
    
    initMap();
    
  });
  
  
  function initMap() { 

    
    let markers = new Array(); // 마커 정보를 담는 배열
    let infoWindows = new Array(); // 정보창을 담는 배열
    
    //본인 위치 표시
    var position = new naver.maps.LatLng(37.52841568, 126.9139175);

    var map = new naver.maps.Map('map', {
      center: position,
      zoom: 15
    });

    // var markerOptions = {
    //   position: position.destinationPoint(0, 20),
    //   map: map,
    //   icon: {
    //     url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png',
    //     size: new naver.maps.Size(25, 34),
    //     scaledSize: new naver.maps.Size(25, 34),
    //     origin: new naver.maps.Point(0, 0),
    //     anchor: new naver.maps.Point(12, 34)
    //   }
    // };

    // var marker = new naver.maps.Marker(markerOptions);

    /*[# th:each="seoul : ${places}"]*/
	  noti2(/*[[${seoul.Designation}]]*/,/*[[${seoul.Latitude}]]*/, /*[[${seoul.Longitude}]]*/); //여기 Argument expression expected. 에러 무시해도 됩니다.
	  /*[/]*/
	  /*]]>*/
    let locations = new Array();
    let result = new Array();

    function noti2(place, latitude, longitude){
      var marker = new naver.maps.Marker({
	        map: map,
	        title: place, // 지역구 이름 
	        position: new naver.maps.LatLng(latitude , longitude), // 지역구의 위도 경도 넣기 
          icon: {
          url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/ico_pin.jpg',
          size: new naver.maps.Size(25, 34),
          scaledSize: new naver.maps.Size(25, 34),
          origin: new naver.maps.Point(0, 0),
          anchor: new naver.maps.Point(12, 34)
        }
	    });
      
      naver.maps.Event.addListener(marker, 'click', function(e){
        var contentString = [
        '<div class="test">',
        '   <input type="button" id="savebtn" name="savebtn" class="btn btn-warning" value="장소추가" onclick="location_save();">',
        '   <input type="button" id="removebtn" name="removebtn" class="btn btn-danger" value="장소삭제" onclick="location_remove();">',
        '</div>'
        ].join('');
        var infowindow = new naver.maps.InfoWindow({
        content: contentString
        });

        if (infowindow.getMap()) {
          infowindow.close();
        } else {
            infowindow.open(map, marker);
        };
        
        window.location_save = function(){
          var position = marker.getPosition(); //클릭이벤트시 해당 마커의 위치정보
          var title = marker.getTitle();
          console.log(title);
          let location = new Array();
          location.push(title,position.x,position.y);
          locations.push(location);
          console.log(locations[0]);
          // console.log(locations[0][0]);
          result = locations.reduce((acc, val) => [ ...acc, ...val ], []) // 이중배열 풀기
          
          marker.setIcon('https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png'); //클릭시 마커 이미지 변경
          
          // let tagArea = document.getElementById('add_place');
          // let new_pTag = document.createElement('li');
          
          // new_pTag.setAttribute('class', 'list-group-item');
          
          // new_pTag.innerHTML = "장소";
          // tagArea.appendChild(new_pTag);

          
        }
        
        window.location_remove = function(){
          var position = marker.getPosition(); //클릭이벤트시 해당 마커의 위치정보
          var title = marker.getTitle();
          let location = new Array();
          location.push(title,position.x,position.y);
          for(var i = 0; i < locations.length; i++){
            for(var j=0; j < locations[i].length; j++){
              if (locations[i][j] === title || locations[i][j] === position.x || locations[i][j] === position.y ) { 
                locations[i].splice(j, 1); 
                j--; 

                }
              
             }
    
          }
          
          console.log(location);
          
          // console.log(locations[0][0]);
          
          marker.setIcon({
              url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/ico_pin.jpg',
              size: new naver.maps.Size(25, 34),
              scaledSize: new naver.maps.Size(25, 34),
              origin: new naver.maps.Point(0, 0),
              anchor: new naver.maps.Point(12, 34)
          }); //클릭시 마커 이미지 변경
        }

    

      });
      // window.savedata = function(){
      //     console.log(result);
      //     $.get('http://localhost:8080/rental/save',
      //     {name1 : result[0], longitude1 : result[1], latitude1 : result[2]},
      //       function(){
      //       console.log('결과: '+result);
              
      //   },'json');
    
      // };
      window.savedata = function(){
          console.log(result);
          $.get('http://localhost:8080/rental/save',
          {result : result},
            function(){
            console.log('결과: '+result);
              
        },'json');
    
      };

      
    }
    
    
    /*[# th:each="tmp : ${offices}"]*/
	  noti(/*[[${tmp.latitude}]]*/, /*[[${tmp.longitude}]]*/); //여기 Argument expression expected. 에러 무시해도 됩니다.
	  /*[/]*/
	  /*]]>*/

    function noti(testValue, tmpValue){
      var marker = new naver.maps.Marker({
              map: map, // 지역구 이름 
              position: new naver.maps.LatLng(testValue , tmpValue) // 지역구의 위도 경도 넣기 
          });
      
    }
    
    
    

    

    //경로 표시
    // var polylinePath = [
    // new naver.maps.LatLng(37.52841568, 126.9139175),
    // new naver.maps.LatLng(37.53123856, 126.9213333),
    // new naver.maps.LatLng(37.52881622, 126.92453),
    // new naver.maps.LatLng(37.5280571, 126.9187012),
    // new naver.maps.LatLng(37.52816391, 126.9170227)  
    // ];

    // var polyline = new naver.maps.Polyline({
    //     path: polylinePath,      //선 위치 변수배열
    //     strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
    //     strokeOpacity: 0.8, //선 투명도 0 ~ 1
    //     strokeWeight: 6,   //선 두께
    //     map: map           //오버레이할 지도
    // });

    




  }

  
	
</script>
</html>