<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<style>
  #center{
    width:100%
  }
  #nav{
    background-color:rgb(247, 243, 243);
    width:20%;
    height: 100%;
    float:left;
  }
  #section{
    width: 80%;
    text-align: center;
    float:left;
    padding: 10px;
  }
</style>
<th:block th:replace="/layout/fragments/head :: headFragment(title='Rental Office')"></th:block>
<!-- 사이드바 -->
<th:block th:replace="/layout/fragments/sidebar :: sidebarFragment(current='Create a Daily Course')"></th:block>
<th:block layout:fragment="content" class="container my-3">
    <form th:action="@{/rental/mycourse}" method="GET">
      <div id="center">
        <div id="nav">
          <div class="addBtn" >
            <a th:href="@{/question/create}" class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
              </svg>
              ADD MY COURSE
            </a>
          </div>
          <br>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  나만의 코스 1
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group list-group-flush">
                    <a th:href="@{#scrollspyHeading1}" class="list-group-item">장소 1</a>
                    <a th:href="@{#scrollspyHeading2}" class="list-group-item">장소 2</a>
                    <a th:href="@{#scrollspyHeading3}" class="list-group-item">장소 3</a>
                    <a th:href="@{#scrollspyHeading4}" class="list-group-item">장소 4</a>
                    <a th:href="@{#scrollspyHeading5}" class="list-group-item">장소 5</a>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Accordion Item #2
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Accordion Item #3
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="section">
          
          <div data-bs-spy="scroll" data-bs-target="#list-group-item" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
            <h4 id="scrollspyHeading1">First heading</h4>
            <div id="map" style="width:100%; height:800px;"></div>
            <h4 id="scrollspyHeading2">Second heading</h4>
            <p>
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            </p>
            <h4 id="scrollspyHeading3">Third heading</h4>
            <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
            <h4 id="scrollspyHeading4">Fourth heading</h4>
            <p>
              ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
            </p>
          </div>
        </div>
      </div>
        
    </form>
    
    <th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</th:block>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=75ojy30gbk "></script>

<script  th:inline="javascript">
	/*<![CDATA[*/
  $(function() {
    
    initMap();
    
  });
  
  
  function initMap() { 

    
    let markers = new Array(); // 마커 정보를 담는 배열
    let infoWindows = new Array(); // 정보창을 담는 배열
    
    var position = new naver.maps.LatLng(37.52841568, 126.9139175);

    var map = new naver.maps.Map('map', {
      center: position,
      zoom: 17
    });

    var markerOptions = {
      position: position.destinationPoint(0, 20),
      map: map,
      icon: {
        url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png',
        size: new naver.maps.Size(50, 52),
        origin: new naver.maps.Point(0, 0),
        anchor: new naver.maps.Point(25, 26)
      }
    };

    var marker = new naver.maps.Marker(markerOptions);
    
    var areaArr = new Array();  // 지역을 담는 배열 ( 지역명/위도경도 )
    areaArr.push(
        /*지역구 이름*/			/*위도*/					/*경도*/				
      {location : '강남' , lat : '37.4959854' , lng : '127.0664091'},  // 강남구 중심좌표
      {location : '강동' , lat : '37.5492077' , lng : '127.1464824'},  // 강동구 중심좌표
      {location : '강북' , lat : '37.6469954' , lng : '127.0147158'},  // 강북구 중심좌표
      {location : '강서' , lat : '37.5657617' , lng : '126.8226561'},  // 강서구 중심좌표
      {location : '관악' , lat : '37.4603732' , lng : '126.9536086'},  // 관악구 중심좌표
      {location : '광진' , lat : '37.5574120' , lng : '127.0796211'},  // 광진구 중심좌표
      {location : '구로' , lat : '37.4954856' , lng : '126.858121' },  // 구로구 중심좌표
      {location : '금천' , lat : '37.4600969' , lng : '126.9001546'},  // 금천구 중심좌표
      {location : '노원' , lat : '37.6377533' , lng : '127.0754623'},  // 노원구 중심좌표
      {location : '도봉' , lat : '37.6658609' , lng : '127.0317674'},  // 도봉구 중심좌표
      {location : '동대문' , lat : '37.5838012' , lng : '127.0507003'},  // 동대문구 중심좌표
      {location : '동작' , lat : '37.4965037' , lng : '126.9443073'},  // 동작구 중심좌표
      {location : '마포' , lat : '37.5676507' , lng : '126.8854549'},  // 마포구 중심좌표
      {location : '서대문' , lat : '37.5820369' , lng : '126.9356665'},  // 서대문구 중심좌표
      {location : '서초' , lat : '37.4769528' , lng : '127.0378103'},  // 서초구 중심좌표
      {location : '성동' , lat : '37.5506753' , lng : '127.0409622'},  // 성동구 중심좌표
      {location : '성북' , lat : '37.606991'  , lng : '127.0232185'},  // 성북구 중심좌표
      {location : '송파' , lat : '37.5177941' , lng : '127.1127078'},  // 송파구 중심좌표
      {location : '양천' , lat : '37.5270616' , lng : '126.8561534'},  // 양천구 중심좌표
      {location : '영등포' , lat : '37.520641'  , lng : '126.9139242'},  // 영등포구 중심좌표
      {location : '용산' , lat : '37.5311008' , lng : '126.9810742'},  // 용산구 중심좌표
      {location : '은평' , lat : '37.6176125' , lng : '126.9227004'},  // 은평구 중심좌표
      {location : '종로' , lat : '37.5990998' , lng : '126.9861493'},  // 종로구 중심좌표
      {location : '중구' , lat : '37.5579452' , lng : '126.9941904'},  // 중구 중심좌표
      {location : '중랑구' , lat : '37.598031'  , lng : '127.092931' }   // 중랑구 중심좌표
    );

    for (var i = 0; i < areaArr.length; i++) {
		// 지역을 담은 배열의 길이만큼 for문으로 마커와 정보창을 채워주자 !

	    var marker = new naver.maps.Marker({
	        map: map,
	        title: areaArr[i].location, // 지역구 이름 
	        position: new naver.maps.LatLng(areaArr[i].lat , areaArr[i].lng), // 지역구의 위도 경도 넣기 
          icon: {
          url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/ico_pin.jpg',
          size: new naver.maps.Size(25, 34),
          scaledSize: new naver.maps.Size(25, 34),
          origin: new naver.maps.Point(0, 0),
          anchor: new naver.maps.Point(12, 34)
        }
	    });
    }
    
    
    /*[# th:each="tmp : ${offices}"]*/
	  noti(/*[[${tmp.latitude}]]*/, /*[[${tmp.longitude}]]*/); //여기 Argument expression expected. 에러 무시해도 됩니다.
	  /*[/]*/
	  /*]]>*/

    function noti(testValue, tmpValue){
      var marker = new naver.maps.Marker({
              map: map, // 지역구 이름 
              position: new naver.maps.LatLng(testValue , tmpValue) // 지역구의 위도 경도 넣기 
          });
      
    }

    var polylinePath = [
    new naver.maps.LatLng(37.52841568, 126.9139175),
    new naver.maps.LatLng(37.53123856, 126.9213333),
    new naver.maps.LatLng(37.52881622, 126.92453),
    new naver.maps.LatLng(37.5280571, 126.9187012),
    new naver.maps.LatLng(37.52816391, 126.9170227)  
    ];

    var polyline = new naver.maps.Polyline({
        path: polylinePath,      //선 위치 변수배열
        strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
        strokeOpacity: 0.8, //선 투명도 0 ~ 1
        strokeWeight: 6,   //선 두께
        map: map           //오버레이할 지도
    });






  }

  
	
</script>
</html>