<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/layout/fragments/head :: headFragment(title='Question')"></th:block>
<th:block th:replace="/layout/fragments/sidebar :: sidebarFragment(current='Question')"></th:block>
<script type="text/javascript" src="/js/ckeditor.js"></script>
<style>
    .ck.ck-editor {
        width: 80%;
        max-width: 800px;
        margin: 0 auto;
    }
    
    .ck-editor__editable {
        height: 50%;
    }

    form {
	text-align: center;
    }
    </style>
    
<th:block layout:fragment="content" class="container">
    <h5 style="text-align: center; width: 80%; max-width: 800px; margin: 0 auto;" class="my-3 border-bottom pb-2">New Discussion</h5>
    <form th:object="${questionForm}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">Title</label>
            <input style="width: 80%; max-width: 800px; margin: 0 auto;" type="text" th:field="*{subject}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea id="editor" th:field="*{content}" rows="10"></textarea>
        </div>
        <input style="margin-right: 80px;" type="submit" value="Save" class="btn btn-primary my-2">
        <a href="/question/create"><input type="button" value="Cancel" class="btn btn-secondary my-2"></a>
    </form>
</th:block>

<script>	
ClassicEditor
.create( document.querySelector( '#editor' ), {
					
					licenseKey: '',
					
					
					
				} )
				.then( editor => {
					window.editor = editor;
			
					
					
					
				} )
				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
					console.warn( 'Build id: ia47t6hg9pi0-lk1a0ar3wfg9' );
					console.error( error );
				} );
		</script>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</html>