<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<th:block th:replace="/layout/fragments/head :: headFragment(title='Forum')"></th:block>
<th:block th:replace="/layout/fragments/sidebar :: sidebarFragment(current='Forum')"></th:block>

<div layout:fragment="content" class="container my-3">
<link rel="stylesheet" href="/css/mdb.min.forum.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<div class="container">
<div class="main-body p-0">
    <div class="inner-wrapper">
        <!-- Inner sidebar -->
        <div class="inner-sidebar">
            <!-- Inner sidebar header -->
            <div class="inner-sidebar-header justify-content-center">
                <a th:href="@{/question/create}" class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    NEW DISCUSSION
                  </a>
            </div>
            <!-- /Inner sidebar header -->

            <!-- Inner sidebar body -->
            <div class="inner-sidebar-body p-0">
                <div class="p-3 h-100" data-simplebar="init">
                    <div class="simplebar-wrapper" style="margin: -16px;">
                        <div class="simplebar-height-auto-observer-wrapper">
                            <div class="simplebar-height-auto-observer"></div>
                        </div>
                        <div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 16px;">
                                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                            <nav class="nav-item">
                                            <a href="/question/list" data-toggle="tab" class="nav-link nav-link-faded has-icon active">Lately</a>
                                            </nav>
                                            <nav class="nav-item">
                                            <a href="#outdated" data-toggle="tab" class="nav-link nav-link-faded has-icon">Outdated</a>
                                            </nav>
                                            <nav class="nav-item">
                                            <a href="#popular" data-toggle="tab" class="nav-link nav-link-faded has-icon">Popular</a>
                                            </nav>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div> -->
                    </div>
                    <!-- <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div> -->
                </div>
            </div>
            <!-- /Inner sidebar body -->
        </div>
        <!-- /Inner sidebar -->

        <!-- Inner main -->
        <div class="inner-main">
            <!-- Inner main header -->
            <div class="inner-main-header">
                <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                <!-- <select class="custom-select custom-select-sm w-auto mr-1">
                    <option selected="">Latest</option>
                    <option value="1">Popular</option>
                </select> -->
                <div class="col-6">
                  <div class="input-group">
                      <input type="text" id="search_kw" class="form-control" th:value="${kw}" placeholder="Search Forum">
                      <button class="btn btn-outline-secondary btn-dark" type="button" id="btn_search">찾기</button>
                  </div>
              </div>
            </div>
            <!-- /Inner main header -->

            <!-- Inner main body -->

            <!-- Forum List -->
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                <table class="table">
                  <thead class="table-dark">
                      <tr class="text-center">
                        <th>Number</th>
                        <th style="width:50%;">Title</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th>Recommendation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="text-center" th:each="question, loop : ${paging}">
                          <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                          <td class="text-start">
                              <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                              <span class="text-danger small ms-2"
                                  th:if="${#lists.size(question.answerList) > 0}"
                                  th:text="${#lists.size(question.answerList)}">
                              </span>
                          </td>
                          <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
                          <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                          <td  th:text="${#lists.size(question.voter)}"></td>
                      </tr>
                  </tbody>
              </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
          <ul class="pagination justify-content-center">
              <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                  <!-- <a class="page-link" th:href="@{|?page=${paging.number-1}|}"> -->
                  <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                      <span>Previous</span>
                  </a>
              </li>
              <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                  th:if="${page >= paging.number-5 and page <= paging.number+5}"
                  th:classappend="${page == paging.number} ? 'active'"
                  class="page-item">
                  <!-- <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a> -->
                  <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
              </li>
              <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                  <!-- <a class="page-link" th:href="@{|?page=${paging.number+1}|}"> -->
                  <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                      <span>Next</span>
                  </a>
              </li>
          </ul>
      </div>
      <!-- 페이징처리 끝 -->
            </div>
            <!-- /Forum List -->
            <!-- /Inner main body -->
        </div>
        <!-- /Inner main -->
        <form th:action="@{/question/list}" method="get" id="searchForm">
          <input type="hidden" id="kw" name="kw" th:value="${kw}">
          <input type="hidden" id="page" name="page" th:value="${paging.number}">
      </form>
    </div>

<script layout:fragment="script" type="text/javascript">
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value= this.dataset.page;
        document.getElementById("searchForm").submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener("click", function() {
    document.getElementById("kw").value = document.getElementById("search_kw").value;
    document.getElementById("page").value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
    document.getElementById("searchForm").submit();
});
</script>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</html>