<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
      <style>
        #center{
          width:100%
        }
        #side1{
          background-color:rgb(247, 243, 243);
          width:10%;
          height: 100%;
          float:left;
        }
        #section{
          width: 80%;
          text-align: center;
          float:left;
          padding: 10px;
        }
        #side2{
          background-color:rgb(247, 243, 243);
          width:10%;
          height: 100%;
          float:left;
        }
        #info{
          text-align: right;
        }

      </style>      
<th:block th:replace="layout/fragments/head :: headFragment(title='Rental Office')"></th:block>
<!-- 사이드바 -->
<th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Rental Office')"></th:block>

<th:block layout:fragment="content" class="container my-3">
  
    <form th:action="@{/rental/rental_office}" method="GET">
      <div id="center">
        <div id="side1">

        </div>
        <div id="section">
          
          <!-- 상단 검색창 -->
          <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr; ">
    
            <div class="d-flex align-items-center" >
              <form class="w-100 me-3" role="search">
                <input type="text" id="keyword" name="keyword" th:value="${keyword}" class="form-control" placeholder="Rental_Office Search" aria-label="Search">
              </form>
              <input class="btn btn-outline-secondary btn-dark" type="submit" id="btn_search" value="Find" onclick="create_ptag();">
            </div>
          </div>
          <br>
          <div id="map" style="width:100%; height:900px;"></div>
          <br>
          <div id="info">
            <img src="/files/basic_pin.png" style="width:50px; height:55px;"> <strong>: Rental_office</strong> 
            <img src='https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png'> <strong>: My Location</strong> 
            <br>

          </div>

        </div>
        <div id="side2">

        </div>
      </div>
      

    </form>
    <th:block th:replace="layout/fragments/script :: scriptFragment"></th:block>
</th:block>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=75ojy30gbk "></script>

<script  th:inline="javascript">
	
  $(function() {
    
    initMap();
    
  });
  
  
  function initMap() { 

    
    let markers = new Array(); // 마커 정보를 담는 배열
    let infoWindows = new Array(); // 정보창을 담는 배열
    
    
    //  /*<![CDATA[*/
    //  var list = '[[${place}]]';
    //  var list1 = list.replaceAll("[", "");
    //  var list2 = list1.replaceAll("]", "");
    //  var list3 = list2.replaceAll('"',"");
    //  var list4 = list3.replaceAll(':', ",");
    //  var list5 = list4.replaceAll("{", "");
    //  var list6 = list5.replaceAll("}", "");
    //  var list7 = list6.split(',');
    //    console.log(list7);
    //    console.log(list);
    
    
	  // /*]]>*/

    var map = new naver.maps.Map('map', {
      center: new naver.maps.LatLng(37.52251816, 126.9072189),
      zoom: 15
    });

    // var markerOptions = {
    //   position: position.destinationPoint(0, 20),
    //   map: map,
    //   icon: {
    //     url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png',
    //     size: new naver.maps.Size(50, 52),
    //     origin: new naver.maps.Point(0, 0),
    //     anchor: new naver.maps.Point(25, 26)
    //   }
    // };

    // var marker = new naver.maps.Marker(markerOptions);

    
    /*<![CDATA[*/
    /*[# th:each="tmp : ${offices}"]*/
	  noti(/*[[${tmp.placename}]]*/, /*[[${tmp.latitude}]]*/, /*[[${tmp.longitude}]]*/); //여기 Argument expression expected. 에러 무시해도 됩니다.
	  /*[/]*/
	  /*]]>*/
    
    function noti(numValue, latValue, lngValue){
      var marker = new naver.maps.Marker({
              map: map,
              title: numValue, // 지역구 이름 
              position: new naver.maps.LatLng(latValue , lngValue) // 지역구의 위도 경도 넣기 
          });

      naver.maps.Event.addListener(marker, 'click', function(e){
      map.panTo(e.coord);
      console.log(e.coord);
      console.log(e.coord.x);
      position = marker.getPosition(); //클릭이벤트시 해당 마커의 위치정보
      console.log(position.x);
      
      });
    }
    /*<![CDATA[*/
    /*[# th:each="tmp : ${place}"]*/
	  noti2(/*[[${tmp.Latitude}]]*/, /*[[${tmp.Longitude}]]*/); //여기 Argument expression expected. 에러 무시해도 됩니다.
	  /*[/]*/
	  /*]]>*/

    function noti2(latValue, lngValue){
      var position = new naver.maps.LatLng(latValue, lngValue);
      var markerOptions = {
          position: position.destinationPoint(0, 20),
          center: position,
          map: map,
          icon: {
            url: 'https://navermaps.github.io/maps.js.ncp/docs/img/example/sally.png',
            size: new naver.maps.Size(50, 52),
            origin: new naver.maps.Point(0, 0),
            anchor: new naver.maps.Point(25, 26)
          }
      };

      var marker = new naver.maps.Marker(markerOptions);

    }

    
  }
  function create_ptag(){
    /*<![CDATA[*/
    var list = '[[${place}]]';
     var list1 = list.replaceAll("[", "");
     var list2 = list1.replaceAll("]", "");
     var list3 = list2.replaceAll('"',"");
     var list4 = list3.replaceAll(':', ",");
     var list5 = list4.replaceAll("{", "");
     var list6 = list5.replaceAll("}", "");
     var list7 = list6.split(',');
       console.log(list7);
     var place = list7[1]
       console.log(place);
	  /*]]>*/
    let tagArea = document.getElementById('info');
    let new_pTag = document.createElement('strong');
    
    new_pTag.setAttribute('class', 'pTag');
    new_pTag.innerHTML = "("+place+")";
    
    tagArea.appendChild(new_pTag);
  }

  
	
</script>

</html>